*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
.full-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  /* background-color: palegoldenrod; */
  background-color: #000;
}
.proyectos {
  /* background-color: paleturquoise; */
  background-color: #000;
}
.form {
  /* background-color: plum; */
  background-color: #000;
}

.min-to-max {
  background: red;
  width: 100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;

}

.box-content {
  transition: opacity 0.5s; 
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.animacion-box {
  animation: min-to-max 1s ease-out;
}

@keyframes min-to-max {
  from {
    
    transform: scale(0.1)
  }
  to {
    transform:  scale(1);
  }
}
